.Login {
    text-align: center;
    background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.User {
    color: black;
}

.CardBody {
  text-align: center;
    background-color: lavender;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.user {
  padding: 100px;
}

.admin {
  margin-top: 50px;
}

.navbar {
    
}